<p>Sandbox Component HTML : 027 Mouse Events</p>

<button id="btn" class="btn-primary" (click)="fireEvent($event)">
  Click Event
</button>

<button id="btn2" class="btn-primary" (mouseover)="fireEvent($event)">
  Mouseover Event
</button>

<button id="btn2" class="btn-primary" (mousedown)="fireEvent($event)">
  Mousedown Event
</button>

<button id="btn2" class="btn-primary" (mouseup)="fireEvent($event)">
  Mouseup Event
</button>

<button id="btn2" class="btn-primary" (dblclick)="fireEvent($event)">
  DoubleClick Event
</button>

<button id="btn2" class="btn-primary" (drag)="fireEvent($event)">
  Drag Event
</button>

<button id="btn2" class="btn-primary" (dragover)="fireEvent($event)">
  DragOver Event
</button>


